<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>

  <form th:action="@{/save}" method="post" th:object="${book}" enctype="multipart/form-data">

        <input type="hidden" th:field="${book.bookId}">

        Tiêu đề: <input type="text" th:field="${book.title}">
        <br>
        Tác giả: <input type="text" th:field="${book.author}">
        <br>
        Mô tả về sách: <textarea rows="10" cols="50" th:field="${book.description}"></textarea>
        <br>
        Ngày phát hành: <input type="date" th:field="${book.releaseDate}">
        <br>
        Số trang: <input type="number" th:field="${book.pages}">
        <br>
        Thể loại:
        <select th:field="${book.category}">
            <option th:value="Novel">Novel</option>
            <option th:value="Honor">Honor</option>
            <option th:value="Sci-fi">Sci-fi</option>
        </select>
        <br>

        Photo:
<!--      <input type="hidden" th:field="${book.photo}">-->
<!--      <input type="file" id="image_input" name="image" accept="image/*" th:field="${book.photo}">-->
<!--      <div id="display_image"></div>-->
<!--      <input type="text" id="input" th:field="${book.photo}" style="display: none"/>-->
<!--      <input type="file"  id="photo" onchange="getImage()">-->

<!--      <img id="image" >-->
       <input type="submit" value="Save Book">
  </form>

<!--  <script>-->
<!--      const imageInput = document.querySelector("#image_input");-->
<!--      let uploadedImage = "";-->

<!--      imageInput.addEventListener("change", function() {-->
<!--          const reader = new FileReader();-->
<!--          reader.addEventListener("load", () => {-->
<!--              uploadedImage = reader.result;-->
<!--              document.querySelector("#display_image").style.backgroundImage = `url(${uploadedImage})`;-->
<!--          });-->
<!--          reader.readAsDataURL(this.files[0]);-->
<!--      })-->
<!--  </script>-->
<!--  <script>-->
<!--      function getImage(){-->
<!--          var photo = $("#photo")[0].files[0];-->
<!--          console.log(photo);-->
<!--          var reader = new FileReader();-->
<!--          reader.readAsDataURL(photo);-->
<!--          reader.onloadend = function (e) {-->
<!--              console.log(e.target.result);-->
<!--              $("#image").attr("src", e.target.result);-->
<!--              $("#input").val(e.target.result)-->
<!--              console.log($("#input"));-->
<!--          }-->
<!--      }-->
<!--  </script>-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>