<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <nav th:replace="layout :: navbar"></nav>
    <div class="container">
        <form th:action="@{/save}" method="post" th:object="${book}" enctype="multipart/form-data">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <input type="hidden" th:field="${book.bookId}">
                    <div class="row mb-sm-3">
                        <div class="col-sm-3" style="margin-right: 184px">
                            <label for="title">Tiêu đề</label>
                            <input type="text" th:field="${book.title}" id="title" class="disabled-field" disabled>
                            <span style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                        </div>
                        <div class="col-sm-3">
                            <label for="author">Tác giả</label>
                            <input type="text" th:field="${book.author}" id="author" class="disabled-field" disabled>
                            <span style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
                        </div>
                    </div>

                    <div class="row mb-sm-3">
                        <div class="col-sm-6">
                            <label for="description">Mô tả về sách</label>
                            <textarea rows="10" cols="70" th:field="${book.description}" id="description" style="resize: none" class="disabled-field" disabled></textarea>
                            <span style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                        </div>
                    </div>

                    <div class="row mb-sm-3">
                        <div class="col-sm-3" style="margin-right: 184px;">
                            <label for="release">Ngày phát hành</label>
                            <input type="date" th:field="${book.releaseDate}" id="release" class="disabled-field" disabled>
<!--                            <span style="color: red" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></span>-->
                        </div>
                        <div class="col-sm-3">
                            <label for="pages">Số trang</label>
                            <input type="number" th:field="${book.pages}" id="pages" class="disabled-field" disabled>
                            <span style="color: red" th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></span>
                        </div>
                    </div>

                    <div class="row mb-sm-3">
                        <div class="col-sm-3">
                            <label for="category">Thể loại</label>
                            <br>
                            <select th:field="${book.category}" id="category" style="width: 100px" class="disabled-field" disabled>
                                <option th:value="Novel">Novel</option>
                                <option th:value="Honor">Honor</option>
                                <option th:value="Sci-fi">Sci-fi</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mt-3">
                    <input type="text" id="input" th:field="${book.photo}" style="display: none"/>

                    <label for="photo">Image</label>
                    <input type="file" id="photo" onchange="getImage()" class="disabled-field" disabled>
                    <img id="image">
                    <img id="display-image" class="mt-sm-5" width="500px">
                </div>
            </div>

            <p id="demo"></p>
            <button type="submit" id="edit-new" class="btn btn-primary">Edit</button>
            <button type="submit" id="send-data" style="display: none" class="btn btn-primary">Save</button>
            <button type="submit" id="add-book" style="display: none" class="btn btn-primary">Add</button>
        </form>
    </div>

    <script>
        const modified = document.getElementById("edit-new");

        modified.onclick = function (event) {
            let inputs = document.getElementsByClassName("disabled-field");
            for(let i = 0; i < inputs.length; i++)
                inputs[i].disabled = false;

            document.getElementById("edit-new").innerHTML = "Save";
            // document.getElementById("edit-new").setAttribute("type", "submit");
            event.preventDefault();
            document.getElementById("edit-new").style.display = "none";

            document.getElementById("send-data").style.display = "block";
        }
    </script>
    <script>
        function getImage(){
            var photo = $("#photo")[0].files[0];
            console.log(photo);
            var reader = new FileReader();
            reader.readAsDataURL(photo);
            reader.onloadend = function (e) {
                console.log(e.target.result);
                $("#image").attr("src", e.target.result);
                $("#input").val(e.target.result)
                console.log($("#input"));
            }
        }
    </script>

    <script>
        const currentUrl = window.location.href;
        if (currentUrl.includes("detail")) {
            let inputs = document.getElementsByClassName("disabled-field");
            for(let i = 0; i < inputs.length; i++)
                inputs[i].disabled = false;

            document.getElementById("edit-new").style.display = "none";
            document.getElementById("send-data").style.display = "none";
            document.getElementById("add-book").style.display = "block";
        }
    </script>

    <script>
        const base64 = document.getElementById("input").value
        console.log(base64)
        document.getElementById("display-image").setAttribute("src", base64);


        // đoạn này fix bug 2 ảnh mà meh
        const changeImage = document.getElementById("photo");
        changeImage.onclick = function (event) {
            document.getElementById("display-image").removeAttribute("src");
        }
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>